<h2>Edit Job</h2>
<form method="post">
    {% csrf_token %}
        <label>Title:</label>
            <input
                type="text"
                name="title"
                value={{ job.title }}
                required
            /> <br><br>
        <label>Company:</label>
            <input
                type="text"
                name="company"
                value={{ job.company }}
                required
            /> <br><br>
        <label>Location:</label>
            <input
                type="text"
                name="location"
                value={{ job.location }}
                required
            /> <br><br>

        <label>Url:</label>
            <input
                type="text"
                name="url"
                value={{ job.url }}
                required
            /> <br><br>
        <button type="submit">Save changes</button>
</form>